<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org/%22%3E">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="author" content="HGY"/>
<meta name="description" content="로그인 페이지"/>
<title>Insert title here</title>
</head>
<body>

<h1>회원 로그인</h1>

<form action = "memberSignIn" method = "POST">
ID : <input type = "text" name = "memberId"> <br/>
PW : <input type = "password" name = "memberPw"> <br/>

<input type = "submit" value = "로그인">
</form>
</body>
</html>