<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org/%22%3E">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="author" content="생로병사"/>
<meta name="description" content="해당 html에 대한 설명"/>
<title>타이틀</title>
<meta name="date" content="2022.05.25">
<link rel-"shortcut icom" href="#">
<title>책임짐 게시글 작성 페이지</title>
</head>
<body>


<table>
<caption>GYM List</caption>

<tr>

<th>글번호</th>
<th>제목</th>
<th>작성자</th>
<th>말머리</th>


<th>조회수</th>

</tr>

<tr th:each="list : ${boardList}">
<td th:text="${list.boardNo}"></td>
<td><a th:href="@{BoardView(boardNo=${list.boardNo})}" th:text="${list.boardTitle}"></a></td>
<td th:text="${list.boardWriter}"></td>
<td th:text="${list.boardType}"></td>

<td th:text="${list.boardHits}"></td>


</tr>


</table>


<button onclick = "location.href = 'boardRegistForm'">게시글 작성</button>
<button onclick ="history.back(-1);">뒤로가기</button>






</body>
</html>