<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset=" UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="author" content="생로병사"/>
<meta name="description" content="TrainingPlanWriteForm"/>
<title>책임GYM</title>
</head>
<body>
<form action="trainingPlanWrite" method="post" enctype="multipart/form-data">
    <table>
        <caption>견적서 등록</caption>
        <tr>
            <th>아이디</th>
            <td><input type="text" name="trainingPlanId"></td>
        </tr>
        <tr>
            <th>운동목적</th>
            <td><input type="text" name="trainingPlanPurpose"></td>
        </tr>
        <tr>
            <th>등급</th>
            <td><input type="text" name="trainingPlanGrade"></td>
        </tr>
        <tr>
            <th>운동루틴</th>
            <td><input type="text" name="trainingPlanMyRoutineCode"></td>
        </tr>
        <tr>
            <th>식단</th>
            <td><input type="text" name="trainingPlanMyMealCode"></td>
        </tr>
        <tr>
            <td>
                <input type="submit" value="제출">
                <input type="reset" value="다시작성">
            </td>
        </tr>
    </table>
</form>
</body>
</html>